

.btn {
    width: 300px;
    height: 62px;
    border-radius: 15px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: #0a152e6d;
    backdrop-filter: blur(30px);  
    color: #ffffff;
    position: absolute;
    left: 30%; 
    top: 55%; 
    display: none;
    box-shadow: 0 0 30px 10px rgba(21, 0, 255, 0.167);
    border: 2px solid #3a4a66;
  }
  
  
  .btn .icon {
    position: absolute;
    height: 57px;
    width: 70px;
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  .btn .text {
    transform: translateX(55px);
    transition: opacity 0.5s ease-in-out; 
    font-weight: bold;
    position: relative;
    top: -10px;
    left: 5px;
    font-size: 17px;
  }

  .btn .texturl {
    transform: translateX(55px);
    transition: opacity 0.5s ease-in-out; 
    position: relative;
    top: 10px;
    color: #dad8d8;
    left: -82px;
    font-size: 13px;
  }


  
  .btn .Strelka {
    width: 100px;
    position: relative;
    transition: 0.5s ease;
    top: 1px;
    left: 200px;
  }
  
  .btn:hover .Strelka {
    width: 100px;
    transition: 0.5s ease;
    left: 225px;
  }

  .btn:hover {
    box-shadow: 0 0 30px 10px rgb(97, 28, 236);
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active .icon {
    transform: scale(0.85);
  }
  
  
  




  


  

  .btn2 {
    width: 612px;
    height: 62px;
    border-radius: 15px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: #0a152e6d;
    backdrop-filter: blur(30px);  
    color: #ffffff;
    position: absolute;
    left: 30%; 
    top: 65%; 
    display: none;
    box-shadow: 0 0 30px 10px rgba(21, 0, 255, 0.167);
    border: 2px solid #3a4a66;
  }
  
  
  .btn2 .icon2 {
    position: absolute;
    height: 57px;
    width: 70px;
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  .btn2 .text2 {
    transform: translateX(55px);
    transition: opacity 0.5s ease-in-out; 
    font-weight: bold;
    position: relative;
    top: -12px;
    left: -115px;
    font-size: 17px;
  }
  
  .btn2 .texturl2 {
    transform: translateX(55px);
    transition: opacity 0.5s ease-in-out; 
    position: relative;
    top: 7px;
    color: #dad8d8;
    left: -185px;
    font-size: 13px;
  }
  
  
  
  
  .btn2 .Strelka2 {
    width: 100px;
    position: relative;
    top: 1px;
    left: 395px;
    transition: 0.5s ease;
  }
  
  .btn2:hover .Strelka2 {
    left: 415px;
    transition: 0.5s ease;
    
  }
  
  .btn2:hover {
    box-shadow: 0 0 30px 10px rgb(97, 28, 236);
  }
  
  .btn2:focus {
    outline: none;
  }
  
  .btn2:active .icon2 {
    transform: scale(0.85);
  }
  
  





  


  

.btn3 {
  width: 300px;
  height: 62px;
  border-radius: 15px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  background-color: #0a152e6d;
  backdrop-filter: blur(30px);  
  color: #ffffff;
  position: absolute;
  left: 50.5%; 
  top: 55%; 
  display: none;
  box-shadow: 0 0 30px 10px rgba(21, 0, 255, 0.167);
  border: 2px solid #3a4a66;
}


.btn3 .icon3 {
  position: absolute;
  height: 57px;
  width: 70px;
  top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn3 .text3 {
  transform: translateX(55px);
  transition: opacity 0.5s ease-in-out; 
  font-weight: bold;
  position: relative;
  top: -10px;
  left: 20px;
  font-size: 17px;
}

.btn3 .texturl3 {
  transform: translateX(55px);
  transition: opacity 0.5s ease-in-out; 
  position: relative;
  color: #dad8d8;
  top: 10px;
  left: -70px;
  font-size: 13px;
}

  
.btn3 .Strelka3 {
  width: 100px;
  position: relative;
  top: 1px;
  left: 220px;
  transition: 0.5s ease;
}

.btn3:hover .Strelka3 {
  left: 245px;
  transition: 0.5s ease;
  
}

.btn3:hover {
  box-shadow: 0 0 30px 10px rgb(97, 28, 236);
}

.btn3:focus {
  outline: none;
}

.btn3:active .icon3 {
  transform: scale(0.85);
}



@media only screen and (max-width: 726px) {

  .btn {
    width: 402px;
    height: 62px;
    border-radius: 15px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: #0a152e6d;
    backdrop-filter: blur(30px);  
    color: #ffffff;
    position: absolute;
    left: 1%; 
    top: 50%; 
    display: none;
    box-shadow: 0 0 30px 10px rgba(21, 0, 255, 0.167);
    border: 2px solid #3a4a66;
  }

  .btn .Strelka {
    width: 100px;
    position: relative;
    transition: 0.5s ease;
    top: 1px;
    left: 250px;
  }
  
  .btn:hover .Strelka {
    width: 100px;
    transition: 0.5s ease;
    left: px;
  }


  .btn .text {
    transform: translateX(55px);
    transition: opacity 0.5s ease-in-out; 
    font-weight: bold;
    position: relative;
    top: -10px;
    left: -45px;
    font-size: 17px;
  }

  .btn .texturl {
    transform: translateX(55px);
    transition: opacity 0.5s ease-in-out; 
    position: relative;
    top: 10px;
    color: #dad8d8;
    left: -132px;
    font-size: 13px;
  }






  

  .btn2 {
    width: 402px;
    height: 62px;
    border-radius: 15px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: #0a152e6d;
    backdrop-filter: blur(30px);  
    color: #ffffff;
    position: absolute;
    left: 1%; 
    top: 59%; 
    display: none;
    box-shadow: 0 0 30px 10px rgba(21, 0, 255, 0.167);
    border: 2px solid #3a4a66;
  }

  .btn2 .Strelka2 {
    width: 100px;
    position: relative;
    top: 1px;
    left: 284px;
    transition: 0.5s ease;
  }
  
  .btn2:hover .Strelka2 {
    left: 415px;
    transition: 0.5s ease;
    
  }
  
  .btn2 .text2 {
    transform: translateX(55px);
    transition: opacity 0.5s ease-in-out; 
    font-weight: bold;
    position: relative;
    top: -12px;
    left: -10px;
    font-size: 17px;
  }
  
  .btn2 .texturl2 {
    transform: translateX(55px);
    transition: opacity 0.5s ease-in-out; 
    position: relative;
    top: 7px;
    color: #dad8d8;
    left: -80px;
    font-size: 13px;
  }


  

  .btn3 {
    width: 402px;
    height: 62px;
    border-radius: 15px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: #0a152e6d;
    backdrop-filter: blur(30px);  
    color: #ffffff;
    position: absolute;
    left: 1%; 
    top: 68%; 
    display: none;
    box-shadow: 0 0 30px 10px rgba(21, 0, 255, 0.167);
    border: 2px solid #3a4a66;
  }

  .btn3 .Strelka3 {
    width: 100px;
    position: relative;
    transition: 0.5s ease;
    top: 1px;
    left: 269px;
  }
  
  .btn3:hover .Strelka3 {
    width: 100px;
    transition: 0.5s ease;
    left: 225px;
  }

  .btn3 .text3 {
    transform: translateX(55px);
    transition: opacity 0.5s ease-in-out; 
    font-weight: bold;
    position: relative;
    top: -10px;
    left: -21px;
    font-size: 17px;
  }
  
  .btn3 .texturl3 {
    transform: translateX(55px);
    transition: opacity 0.5s ease-in-out; 
    position: relative;
    color: #dad8d8;
    top: 10px;
    left: -111px;
    font-size: 13px;
  }
        
  }
